extends layout

block content
  h1= title
  h3#output enter the number of week
  div 
   a(href="/") Home
   input(type="text" id="dayInput" placeholder="Enter the number of week")
   button(onclick="generateWeek()") generate
  


